<div>
  <table>
    <thead>
      <td>Number</td>
      <td>Availability</td>
      <td>Access</td>
      <td>Actions</td>
    </thead>
    <tbody>
      @for (parkingSpot of availabilityService.parkingSpots; track $index) {
      <tr>
        <td>{{parkingSpot.number}}</td>
        <td>
          @if (parkingSpot.availability) {
          <button class="unavailable">Unavailable</button>
          } @else if (!parkingSpot.sale?.departureTime && parkingSpot.sale?.entranceTime) {
          <button (click)="closeSale(parkingSpot)">{{ parkingSpot.sale?.plate }}</button>
          } @else {
          <button (click)="openSale(parkingSpot.id)" class="available">Available</button>
          }
        </td>
        <td>{{parkingSpot.access}}</td>
        <td>
          @if(!parkingSpot.sale?.plate) {
          @if(!parkingSpot.availability) {
          <img (click)="disableBooth(parkingSpot.id)" src="/vectors/cross.svg" alt="Disable parking spot.">
          } @else {
          <img (click)="enableBooth(parkingSpot.id)" src="/vectors/checkbox.svg" alt="Enable parking spot.">
          }
          }
          @if (admin) {
          <img (click)="removeRow(parkingSpot.id)" src="/vectors/minus.svg" alt="Remove parking spot.">
          }
        </td>
      </tr>
      } @empty {
      <div class="empty-data">
        <img src="/images/folder.png" alt="No data found image.">
        <p>No booths registered.</p>
      </div>
      }
    </tbody>
  </table>

  @if (admin) {
  <img (click)="addBooth()" class="add-parkingSpot" src="/vectors/plus.svg" alt="Create new parking spot.">
  }
</div>
