div {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-width: none;

  table {
    margin: auto;
    font-size: 1.2vw;
    width: 100%;

    thead,
    tr {
      display: grid;
      grid-template-columns: 10% 40% 30% 20%;
      justify-items: center;
      align-items: center;
      padding: 1vw 2vw;

      .available {
        background-color: rgb(120, 221, 120);
        padding: 0.6vw 1vw;
        border-radius: 0.5vw;
        font-size: 1vw;
        cursor: pointer;
      }

      .unavailable {
        background-color: rgba(180, 180, 180, 0.842);
        padding: 0.6vw 1vw;
        border-radius: 0.5vw;
        font-size: 1vw;
        cursor: default;
      }

      .occupied {
        background-color: rgb(200, 110, 110);
        padding: 0.6vw 1vw;
        border-radius: 0.5vw;
        font-size: 1vw;
        cursor: pointer;
      }
    }

    thead {
      background-color: #6a9c8980;
      border-top-right-radius: 0.5vw;
      border-top-left-radius: 0.5vw;
    }

    .empty-data {
      height: fit-content;
      display: block;
      margin: 3vw 0;

      img {
        width: 20vw;
        margin-bottom: 2vw;
        cursor: default;
      }
    }

    tr {
      background-color: #e9efec81;
    }

    tr:last-child {
      border-bottom-right-radius: 0.5vw;
      border-bottom-left-radius: 0.5vw;
    }

    tr:nth-child(even) {
      background-color: #c4dad281;
    }

    img {
      margin: 0 0.2vw;
      cursor: pointer;
      width: 2.8vw;
    }
  }

  .add-parkingSpot {
    width: 4vw;
    cursor: pointer;
  }
}
