<main class="dashboard-container">
  <section>
    <nav>
      <div>
        <a [routerLink]="['availability']" routerLinkActive="active-link">Availability</a>
        @if (admin) {
        <a [routerLink]="['reports']" routerLinkActive="active-link">Reports</a>
        } @else {
        <a routerLinkActive="active-link" class="disabled">Reports</a>
        }
        <a [routerLink]="['prices']" routerLinkActive="active-link">Prices</a>
      </div>
      <div>
        <button (click)="logout()" class="btn-logout"><img src="/images/power.png">LOG OUT</button>
      </div>
    </nav>
    <router-outlet />
  </section>
</main>